body {
	background-color: hsl(210, 29%, 24%);
}

.contents {
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.js-clock h1 {
	color: #3e3e33;
	font-size: xx-large;
}

.btn {
	cursor: pointer;
}

.clicked {
	color: #7f8c8d;
}

.form,
.greetings {
	display: none;
}
.showing {
	display: block;
	font-size: 25px;
	font-family: monospace;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.bgImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	animation: fadeIn 0.5s linear;
}

.js-weather {
	color: darkgray;
	padding-left: 3%;
}

.js-clock h1 {
	font-weight: 800;
	font-size: 50px;
}

.js-toDoForm input {
	text-align: center;
	font-family: monospace;
	border: 0px;
	font-size: large;
	line-height: 23px;
	border-radius: 5px;
	width: 250px;
	height: 30px;
}

.js-toDoList {
	text-align: middle;
	font-size: large;
	font-family: monospace;
}

#nameinput {
	font-family: monospace;
	text-align: center;
	border: none;
	border: 0px;
	background-color: transparent;
	font-size: large;
	box-shadow: inset 0 -10px 0 white;
	line-height: 40px;
	font-style: oblique;
}
